Screen {
    layout: vertical;
}

.pane {
    height: 1fr;
    border: solid green;
}

.top-pane {
    border: thick green;
/*    padding: 10px;*/
    min-height: 20;
}

#title {
    text-align: center;
    margin-bottom: 1;
}

Input {
    margin-bottom: 1;
}

#ok_button {
    margin-top: 1;
    width: 100%;
}
